body {
  font-family: Arial, sans-serif;
}

#editor {
  display: flex;
}

#story-preview {
  flex: 3;
  border: 1px solid #ccc;
  padding: 20px;
}

#controls {
  flex: 1;
  padding: 20px;
}

.story-page {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
}

.story-element {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-element {
  border: 1px dashed #ccc;
  padding: 10px;
}
